@charset "utf-8";

body {
	background-color: #1e2124;
	font-family: "Helvetica", "Lucida Console", "Palatino Linotype";
	font-style: bold;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	min-width: 1440px;
	max-width: 1440px;
}

header {
	background-color: #708090;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

h1 {
	color: #B0E0E6;
	padding: 1px 12px;
	text-align: center;	
	text-decoration: none;
	font: 2.5em/1.0 Palatino Linotype;
}

nav > ul {
	background-color: #333;
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

nav > ul > li {
	float: left;
}

nav > ul > li a {
	display: block;
	color: white;
	font: bold 1.1em/1.0em Lucida Console;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav > ul > li a:hover {
	background-color: #0FA33E
}

section {
	color: #FFFFF0;
}

section#leftColumn {
	clear: left;
	float: left;
	width: 40%;
	font: 1.0em/1.0em Helvetica;
	background-color: #483D8B;
}

section#rightColumn {
	clear: right;
	float: right;
	width: 40%;
	font: 1.0em/1.2em Helvetica;
	background-color: #191970;
}

section#rightColumn a {
	color: #DB7093;
}

section#rightColumn a:hover {
	color: #DDA0DD;
}

footer {
	width: 20%;
	background-color: #708090;
}